<div class="header">

	<div class="section">

		<img class="header-img" src="{$smarty.const.WEB_PATH}images/header/header.png"/>
		<div class="navigation">
			<div class="section">
				<ul class="menu">
					<li>
						<a href="{$smarty.const.WEB_PATH}">
							<img src="{$smarty.const.WEB_PATH}images/icons/home-icon.png"/>
						</a>
					</li>
					<li><a href="{$smarty.const.WEB_PATH}">Vehicle Inventry</a></li></a>
					<li><a href="{$smarty.const.WEB_PATH}search">Car Details</a></li>
				</ul>
			</div>
		</div>

	</div>
	
</div>