<div class="header">

	<div class="section">

		<img class="header-img" src="{$smarty.const.WEB_PATH}images/header/header.png"/>
		<div class="navigation">
			<div class="section">
				<ul class="menu">
					<li><a href="{$smarty.const.WEB_PATH}manager/vehicules">Vehicules</a></li>
					<li><a href="{$smarty.const.WEB_PATH}manager/vehicule_marques">Marques</a></li>
					<li><a href="{$smarty.const.WEB_PATH}manager/vehicule_modeles">Modeles</a></li></a>
					<li><a href="{$smarty.const.WEB_PATH}manager/vehicule_carrosseries">Carrosseries</a></li>
					<li><a href="{$smarty.const.WEB_PATH}manager/vehicule_engines">Engines</a></li>
					<li><a href="{$smarty.const.WEB_PATH}manager/vehicule_equipements">Equipements</a></li>
					<li><a href="{$smarty.const.WEB_PATH}manager/vehicule_characteristics">Characteristics</a></li>
				</ul>
			</div>
		</div>

	</div>
	
</div>