<div class="section">

    <div class="create-btn">
        <a href="{$smarty.const.WEB_PATH}manager/vehicule_carrosseries" class="btn">View all carrosserie</a>
    </div>
    <div class="clear"></div>

    {if isset($response) && !empty($response) }
    <div class="message {if isset($response.status)}  {if !$response.status}error{else}success{/if} {/if}">
        {$response.message}
    </div>
    {/if}

    <form method="post" action="">
        <fieldset>
            <legend>Create carrosserie</legend>
            <ul>
                <li>
                    <div class="d1"><label for="carrosserie_name">Name: </label></div>
                    <div class="d2"><input type="text" name="carrosserie_name" id="carrosserie_name" value="{if isset($post.carrosserie_name)}{$post.carrosserie_name|escape:'html'}{/if}" /></div>
                </li>

                <li>
                    <input class="btn" type="submit" value="Create">
                </li>
            </ul>
        </fieldset>
    </form>

</div>