@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,700);
/*	----------------------------------------------------------------
*	HTML defaults
*/
html{background: #fff;}
body{font-size:14px;line-height:13px;font-family: Roboto;margin: 0 auto!important;}
input[type=checkbox]{border:0;}
img{vertical-align:text-bottom;}
sup{font-size:.6em;vertical-align:top;}

a:link,a:visited{color:#0072CF;}
a:hover,a:active{color:#000;}

/*	----------------------------------------------------------------
*	Useful classes
*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;float:none;}
.clear:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.upper {text-transform: uppercase;}
.bold {font-weight: bold;}
.tcenter{text-align: center;}
.tleft{text-align: left;}
.tright{text-align: right;}


/*	================================================================
*	block:	HEADER
*/
#header{
	padding:0px;
	font-family: Roboto;
	font-size: 11px;
	background-color: #1d242c;
	color: #fff;
	margin-top: 60px;
	margin-bottom: 35px;
}
.header-img {
	width: 100%;
}

/*	================================================================
*	block:	NAVIGATION
*/
div.navigation {
	background-color: #f4f4f4;
	line-height: 40px;
}
div.navigation ul.menu {
	text-align: center;
}




ul.menu li a img {
	bottom: 4px;
    position: relative;
}
div.navigation ul.menu li{
	display: inline-block;
	padding: 0px 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	color:#1d242c;
	font-size:14px;
	font-weight:bold;
	position: relative;
}
ul.menu li:after {
    content: " > ";
	position: absolute;
    right: -5px;
    top: 5px;
	color: #8a96b0;
}
ul.menu li a {
	color: #000000;
}
.menu li:last-child:after {
    content: "";
}

/*	================================================================
*	block:	CONTENT
*/

#content {
	margin-top: 30px;
}
.section{
	margin: 20px 0px 20px 0px;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	}
.menu {
	width: 980px;
	margin: 0 auto;
}
.menu a:first-child {
	padding-left: 0px;
}
h1 {
	font-size: 30px;
	margin: 15px 0px;
}
h2{
	font-size: 20px;
	display: inline-block;
	margin-bottom: 17px;
	font-weight: normal;
}
h3{
	font-size: 18px;
	margin: 7px 0px 6px;
	font-weight: 600;
}
hr {
	border-color: #d5d5d5;
    opacity: 0.4;
}
.clear {
	clear: both;
}

/*	================================================================
*	block:	slideshow-container
*/
    /*
    .jssorb05 div           (normal)
    .jssorb05 div:hover     (normal mouseover)
    .jssorb05 .av           (active)
    .jssorb05 .av:hover     (active mouseover)
    .jssorb05 .dn           (mousedown)
    */


.left,
.left-sidebar {
	float: left;
}
.left-sidebar {
	width: calc( 100% - 320px);
}
.right,
.right-sidebar {
	float: right;
}
.right-sidebar {
	width: 300px;
}
.clear {
	clear: both;
}
hr {
	margin: 30px 0px;
}
.options a {
	height: 18px;
	padding-left: 25px;
	color: #9a9ea1;
}
.address {
    background-image: url(/../css/public/icons/address-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 0px;
	color: #9a9ea1;
	width: 50%;
}
.cars-compare {
	background-image: url(/../css/public/icons/cars-compare.png);
	background-repeat: no-repeat;
    background-position: 0px 0px;
}
.car-brochure {
	background-image: url(/../css/public/icons/car-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 0px;
}
.car-share {
	background-image: url(/../css/public/icons/share-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 0px;
}
.options div a {
	margin-right: 15px;
	color: #000;
}
.price {
	background-color: #d01818;
	padding: 18px 55px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 5px;
}
.car-slider-items-info {
	padding: 25px 35px;
	background-color: #f4f4f4;
	font-weight: bold;
}
.car-slider-items-info div {
	margin: 18px 0px 15px 0px;
	border-bottom: 1px solid #dddddd;
}
.car-slider-items-info span:first-child {
	color: #899498;
}
.economy-right {
	color: #d01818;
	font-weight: bold;
}
.section-slider {
	width: 750px;
}
.car-economy-section,
.vehicle-demand-section {
	padding: 25px 20px 25px 65px;
    border: 3px solid #f4f4f4;
}
.car-economy-section {
	margin-top: 25px;
	margin-bottom: 8px;
	background-image: url(/../css/public/icons/car-razhod-icon.png);
	background-repeat: no-repeat;
    background-position: 25px 18px;
	font-size: 16px;
}
.vehicle-demand-section {
	margin-bottom: 25px;
	background-image: url(/../css/public/icons/car-demand-icon.png);
	background-repeat: no-repeat;
    background-position: 25px 23px;
}
.economy-right {
	float: right;
}
.economy-value,
.vehicle-demand-valueTxt {
	font-size: 22px;
	font-weight: bold;
}
.call-dealer {
	padding: 35px 70px;
	background-color: #161616;
	color: #ffffff;
	font-weight: bold;
	border-radius: 2px;
	border-bottom: 3px solid #d01818;
	background-image: url(/../css/public/icons/tel-deliver.png);
	background-repeat: no-repeat;
    background-position: 29px 47px;
	margin-bottom: 26px;
}
.call-dealer .name {
	font-size: 18px;
	margin-bottom: 12px;
}
.call-dealer .phone {
	font-size: 22px;
}
.finance-calc {
	padding: 35px 35px;
	border-radius: 2px;
	border: 3px solid #f4f4f4;
	font-size: 13px;
	font-weight: bold;
}
.finance-calc-header {
	padding: 3px 0px 3px 54px;
	background-image: url(/../css/public/icons/calc-finance-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 15px;
	margin-bottom: 40px;
}
.finance-calc-header div {
	font-size: 13px;
	color: #9a9ea1;
}
.finance-calc-group label {
	display: block;
}
.finance-calc-group input {
	width: 100%;
    padding: 12px 15px;
    border-radius: 3px;
	border: 1px solid #d5d5d5;
}
.finance-calc .btn {
	padding: 15px 23px;
	background-color: #161616;
	color: #ffffff;
	border: 0px;
	border-radius: 3px;
	font-weight: bold;
}
.main {
  font-family:Arial;
  max-width:750px;
  display:block;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px;
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}
.slick-slide img {
	width: 750px;
	height: 400px;
}
.thumbnails-item {
	width: 150px!important;
	//height: 85px;
}
.thumbnails .slick-slide img {
	width: 98%;
	height: 85px;
}
.slick-arrow {
	display: none!important;
}
.main:hover .slick-arrow {
	display: block!important;
}
.section-overview {
	margin: 63px 0px 50px 0px;
}
.header-overview {
	font-weight: bold;
	margin-top: 13px;
	margin-bottom: 10px;
}
.accordion {
    background-color: #ffffff;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
	background-image: url(/../css/public/icons/plus-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 28px;
	padding-left: 30px;
}
.panel {
    display: block;
    overflow: hidden;
}
.active {
	background-image: url(/../css/public/icons/minus-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 35px;
}
/* Style the tab */
.tab {
    background-color: #d01818;
	border-radius: 3px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #d01818;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 30px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.activeTabs {
    background-color: #f4f4f4;
	box-shadow:0px -3px!important;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 45px;
    border-top: none;
	background-color: #f4f4f4;
    line-height: 24px;
}
#SPECIFICATIONS {
    display: block;
}
.tablinks:first-child {
	margin-left: 15px;
}
.car-more-function-list li {
	width: 49%;
	display: inline-block;
	float: left;
	padding-left: 20px;
	background-image: url(/../css/public/icons/square.png);
	background-repeat: no-repeat;
    background-position: 0px 11px;
	line-height: 30px;
}
.car-more-function-list li:last-child::after {
	clear: both;
}
.related-cars {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}
.related-car-item {
	position: relative;
	width: 350px;
	margin-top: 70px;
	float: left;
	margin-right: 30px;
}
.related-car-item:last-child {
	margin-right: 0px;
}
.related-car-item img {
	width: 360px;
	height: 220px;
}
.related-car-item .related-car-price {
	position: absolute;
    top: 166px;
    right: 10px;
	width: 175px;
	background-color: #d01818;
	color: #ffffff;
	padding: 15px;
}
.related-car-item .related-car-price span:first-child {
	font-size: 16px;
	font-weight: bold;
}
.related-car-item .related-car-price span:last-child {
	font-size: 12px;
}
.related-car-options {
	border: 1px solid #eeeeee;
	margin-top: 10px;
}
.related-car-options span {
	border-right: 1px solid #eeeeee;
	display: block;
	float: left;
}
.related-car-options span:nth-child(1),
.related-car-options span:nth-child(2) {
	padding: 15px 22px;
}
.related-car-options span:nth-child(3) {
	padding: 15px 10px;
}
.related-car-options span:nth-child(4) {
	padding: 15px 12px;
	border-right: none;
}
.related-car-item .section-overview {
	margin-top: 50px;
}
.paginator-arrow {
	text-align: center;
	margin-bottom: 100px;
}
.paginator-arrow span {
	padding: 9px 14px 11px;
	border: 1px solid #eeeeee;
	border-radius: 2px;
	margin-right: 7px;
}
.section-result {
	margin: 50px 0px 20px;
}
.cars-result {
	padding-top: 6px;
	border-top: 4px solid #d01818;
	margin-bottom: 20px;
}
.cars-result img {
	width: 150px;
	height: 120px;
	border: 4px solid #f2f2f2;
	margin-right: 10px;
}
.cars-result .car-name {
	width: 60%;
}
.cars-result .car-price {
	background-color: #d01818;
	padding: 10px 17px;
	font-weight: bold;
	color: #ffffff;
	margin-left: 10px;
}
option {
	height: 30px;
    padding: 30px 0px;
    line-height: 20px;
    margin: 10px 0px;
}
.section-find-car option[value=select] {
    display: none;
}

/*	================================================================
*	block:	FOOTER
*/
.footer{
	padding: 35px 0px;
	margin-top: 20px;
	font-family: Roboto;
	font-size: 11px;
	background-color: #160D0E;
	color: #86867c;
	line-height: 25px;
}
.logo-footer,
.top-brand,
.categories-footer {
	width: 22.3%;
    margin-right: 33px;
}
.address-info-footer {
	width: 22.3%;
}
.social-icon-footer img {
	margin-right: 22px;
}
.footer h3 {
	color: #ffffff;
	font-weight: bold;
}
.footer ul li {
	width: 49%;
	display: inline-block;
	float: left;
	padding-left: 20px;
	background-image: url(/../css/public/icons/li-arrow-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 8px;
	line-height: 30px;
}
.categories-footer ul li {
	width: 100%;
	float: none;
}
.address-info-footer {
	color: #ffffff;
}
.email-foot {
	padding-left: 30px;
	background-image: url(/../css/public/icons/email-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 8px;
}
.address-foot {
	padding-left: 30px;
	background-image: url(/../css/public/icons/address-icon-wh.png);
	background-repeat: no-repeat;
    background-position: 0px 8px;
}
.time-foot {
	padding-left: 30px;
	background-image: url(/../css/public/icons/time-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 8px;
}



/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

/* for 600px or less */
@media screen and (max-width:600px) {

	.header-img,
	.navigation,
	.footer,
	#header,
	body,
	.menu,
	.section,
	.section-slider,
	.main,
	.slider-for img,
	.car-slider-item,
	.related-cars,
	.related-car-item,
	.related-car-item img,
	.related-car-options,
	.paginator-arrow {
		width: calc(600px - 30px) !important;
		margin: 0 auto
	}

	.section-slider h2 {
		margin-top: 0px;
	}

	.options .left {
		float: none;
	}

	.options .right {
		float: left;
	}

	.accordion {
		background-position: 0px 16px;
	}

	.related-car-item {
		margin: 0px;
	}

	.section-slider,
	.main,
	.slider-for img {
		height: auto;
	}

	.slick-list:first-child,
	.slick-track:first-child {
		height: 315px;
	}

	.thumbnails .slick-slide img,
	.thumbnails .slick-track:first-child,
	.thumbnails .slick-list {
		height: 85px;
	}

	.related-car-options span:nth-child(1), .related-car-options span:nth-child(2) {
		padding: 15px 20px !important;
	}

	.carrosserie button {
		width: 97px;
	}

	.section-find-car h1 {
		font-size: 31px;
	}

	.tablinks {
		width: calc(100% - 30px);
		margin-left: 15px;
		text-align: left;
	}

	.right-sidebar {
		width: 100%;
		margin-top: 30px;
	}

	.related-car-item img {
		height: 100% !important;
	}

	.related-car-price {
		top: 265px !important;
		right: 4px !important;
	}
	.accordion {
		background-position: 0px 37px!important;
	}
	.related-car-item:nth-child(2n) {
		display: none;
	}
	.paginator-arrow {
		margin-bottom: 70px;
	}
	.logo-footer, .top-brand, .categories-footer, .address-info-footer {
		width: 100%;
		padding: 0px 15px;
	}
	.footer ul li {
		width: 24%;
	}


}




